
@{
    ViewData["Title"] = "List";
}

<h1>Toplantı Katılım Listesi</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad-Soyad</th>
            <th>Katılım Durumu</th>
            <th>Detay</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Fırat Alçın</td>
            <td>Evet</td>
            <td>
                <a class="btn btn-sm btn-primary" href="#">Detay</a>
            </td>
        </tr>
        <tr>
            <td>Şahin Alçın</td>
            <td>Evet</td>
            <td>
                <a class="btn btn-sm btn-primary" href="#">Detay</a>
            </td>
        </tr>
    </tbody>
</table>

