
@{
    ViewData["Title"] = "List";
}

<h1>Toplantı Katılım Listesi</h1>
<table>
    <thead>
        <tr>
            <th>Ad-Soyad</th>
            <th>Email</th>
            <th>Katılım Durumu</th>
            <th>Detay</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Fırat Alçın</td>
            <td>firatalcin@gmail.com</td>
            <td>Evet</td>
            <td>
                <a href="#">Detay</a>
            </td>
        </tr>
        <tr>
            <td>Şahin Alçın</td>
            <td>sahinalcin@gmail.com</td>
            <td>Evet</td>
            <td>
                <a href="#">Detay</a>
            </td>
        </tr>
    </tbody>
</table>

