@{
    int age = 25;
    // string value = string.Empty;
    // if (age > 18)
    // {
    //     value = "Yaşı 18'den büyük";
    // }
    // else
    // {
    //     value = "Yaşı 18'den küçük";
    // }

    int Calculate(int number1,int number2)
    {
        return number1 + number2;
    }

    var result = Calculate(1, 2);

    int toplam = 0;

    for (int i = 0; i < 10; i++)
    {
        toplam += i;
    }
}

<p>
    
    Durum2 = @toplam
</p>
